@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root {
    --v-blue: #1B6FAB;
    --v-blue-t: #1B6FABa0;
    --v-white: #F0F6FA;
    --v-yellow: #F1E1A7;
}
html {
    font-family: 'Lato', sans-serif;
}
button {
    transition: outline-width 0.05s linear;
    cursor: pointer;
    background-color: var(--v-blue);
    color: var(--v-white);
    border: 4px solid var(--v-blue);
    outline: var(--v-blue-t) solid 0px;
    border-radius: 5px;
    font-weight: bold;
}
button:focus {
    outline-width: 2px;
}